
# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# Uncomment this if you are using SSL/TLS, running in Docker container, etc.
# http:
#   base_url: example.duckdns.org:8123

group: !include groups.yaml
automation: !include automations.yaml
mqtt: !include mqtt.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
#sensor: !include purpleair.yaml

# Text to speech
tts:
  - platform: google_translate

homeassistant:
  auth_mfa_modules:
    - type: totp
  unit_system: imperial

# Enable mqtt logging
logger:
  default: warning
  logs:
#    homeassistant.components.mqtt: debug
    homeassistant.components.mqtt: warning
#    custom_components.mail_and_packages: debug

#Enable stream
stream:

alert:
  garage_door:
    name: Garage is open
    message: Garage is open
    done_message: Garage is closed
    entity_id: cover.garage_door
    state: 'open'
    repeat:
      - 15
      - 30
      - 60
    can_acknowledge: false
    skip_first: true
    notifiers:
      - mobile_app_sm_g955u1
      - mobile_app_wendy_s_phone
      - garage_open_notification

google_assistant:
  project_id: home-assistant-d67c1
  service_account: !include SERVICE-ACCOUNT.json
  report_state: true
  secure_devices_pin: !secret google_device_pin

recorder:
  db_url: !secret recorder_db_url
  commit_interval: 30
  exclude:
    domains:
#      - automation
      - updater
    entity_globs:
      - sensor.*_uptime*
      - sensor.uptime_*
    entities:
#      - sun.sun # Don't record sun data
#      - sensor.last_boot # Comes from 'systemmonitor' sensor platform
      - sensor.date
    event_types:
#      - call_service # Don't record service calls
  
influxdb:
  host: !secret influxdb_host
  port: 8086
  database: home_assistant
  username: home-assistant
  password: !secret influxdb_password
  max_retries: 3
  default_measurement: state
  
twilio:
  account_sid: !secret twillio_sid
  auth_token: !secret twillio_token
  
notify:
  - name: HA_Twillio
    platform: twilio_sms
    from_number: !secret twillio_from_number
  - platform: group
    name: garage_open_notification
    services:
      - service: notify
        data:
          title: "\U0001F699 Garage left open!"
          message: Garage door has been open for 15 minutes. Close it?
#      - service: ha_twillio
#        data:
#          message: Garage door has been open for 15 minutes. Close it?
#          target:
#          - '+18155292638'
#          - '+18155297819'    

spotcast:
  sp_dc: !secret sp_dc
  sp_key: !secret sp_key

media_player:
  - platform: samsungtv_tizen
    host: 192.168.0.127
    mac: 98:06:3c:33:0e:9a

binary_sensor:
  - platform: ping
    host: 192.168.0.1
    count: 5
    scan_interval: 60
    name: Smoothwall Ping
  - platform: ping
    host: www.trebacz.com
    count: 5
    scan_interval: 60
    name: Trebacz Ping
  - platform: ping
    host: google.com
    count: 5
    scan_interval: 60
    name: Google Intenet Ping
  - platform: ping
    host: cam4.trebacz.com
    count: 5
    scan_interval: 60
    name: Patio Camera Ping
  - platform: template
    sensors:
      warm_inside:
        friendly_name: "Inside temperature higher than outside"
        value_template: >
          {{ states('sensor.average_house_temp') | float(0) >= states('sensor.outside_temperature') | float(0)}}
  - platform: template
    sensors:
      cool_inside:
        friendly_name: "Inside temperature cooler than outside"
        value_template: >
          {{ states('sensor.average_house_temp') | float(0) < states('sensor.outside_temperature') | float(0)}}
            platform: template
  - platform: template
    sensors:
      motion_frontdoor:
        friendly_name: Camera frontdoor
        device_class: motion
        value_template: "{{ is_state('camera.frontdoor', 'motion') }}"
        delay_off: 
          seconds: 30
  - platform: template
    sensors:
      all_windows:
        friendly_name: "All Windows"
        value_template: >-
          {{ is_state('binary_sensor.master_bedroom_sliding_door_and_window', 'on') or
             is_state('binary_sensor.south_bedroom_window', 'on') or
             is_state('binary_sensor.office_window', 'on') or
             is_state('binary_sensor.dining_room_window', 'on') or
             is_state('binary_sensor.living_room_slider', 'on') }}
        device_class: window
  - platform: template
    sensors:
      all_doors:
        friendly_name: "All Doors"
        value_template: >-
          {{ is_state('binary_sensor.entry_and_exit_doors', 'on') or
             is_state('binary_sensor.kitchen_door_contact', 'on') or
             is_state('binary_sensor.double_garage_door_contact', 'on') or
             is_state('binary_sensor.single_garage_door_contact', 'on') or
             is_state('binary_sensor.living_room_slider', 'on') or
             is_state('binary_sensor.master_bedroom_door_and_window', 'on') or
             is_state('binary_sensor.master_bedroom_sliding_door_and_window', 'on') or
             is_state('binary_sensor.pool_bathroom_contact', 'on') }}
        device_class: door


    # Example configuration.yaml entry
sensor:
  - platform: untappd
    username: Trebacz
    id: !secret untapped_id
    secret: !secret untapped_secret

  - platform: min_max
    name: average_house_temp
    type: mean
    round_digits: 1
    entity_ids:
      - sensor.master_bedroom_temperature
      - sensor.southbedrooms_temperature
      - sensor.guest_bedroom_environment_temperature
      - ensor.office_environment_temperature
      - sensor.water_leak_sensor_temperature_measurement

# zwift Start of Sensors 2022-03-04
  - platform: zwift
    username: !secret my_zwift_username
    password: !secret my_zwift_password
#    players:
#      - !secret my_friends_zwift_player_id

  - platform: template
    sensors:
      # Gets temperature from Honeywell climate
      master_bedroom_temperature:
        friendly_name: Master Bedroom Temperature
        unit_of_measurement: '°F'
        value_template: >
          {{ float(state_attr('climate.bedroom', 'current_temperature')) }}
      # Gets temperature from Honeywell climate
      southbedrooms_temperature:
        friendly_name: South Bedrooms Temperature
        unit_of_measurement: '°F'
        value_template: >
          {{ float(state_attr('climate.south_bedrooms', 'current_temperature')) }}

# Mail Summary Sensors
  - platform: template
    sensors:
      mail_deliveries_message:
        friendly_name: "Deliveries Summary"
        value_template: > 
          {# Deliveries Sentence #}
            {% macro deliveries_sentence() -%}
                  {%- if states("sensor.mail_usps_mail")|int == 0 -%}
                    No
                  {%- else -%}
                    {{states("sensor.mail_usps_mail")|int}}
                  {%- endif -%}
                {{' '}} 
                  {%- if states("sensor.mail_usps_mail")|int <= 1 -%}
                    pieces of mail
                  {%- else -%}
                    pieces of mail
                  {%- endif -%}
                {{' '}}will be delivered.{{' '}} 
                  {%- if states("sensor.mail_usps_delivering")|int == 0 -%}
                    No
                  {%- else -%}
                    {{states("sensor.mail_usps_delivering")|int}}
                  {%- endif -%}
                {{' '}} 
                  {%- if states("sensor.mail_usps_delivering")|int == 1 -%}
                    USPS package is
                  {%- else -%}
                    USPS packages are
                  {%- endif -%}
                {{' '}}in transit.{{' '}}
                  {%- if states("sensor.mail_fedex_delivering")|int == 0 -%}
                    No
                  {%- else -%}
                    {{states("sensor.mail_fedex_delivering")|int}}
                  {%- endif -%}
                {{' '}} 
                  {%- if states("sensor.mail_fedex_delivering")|int == 1 -%}
                    FedEx package is
                  {%- else -%}
                    Fedex packages are
                  {%- endif -%}
                {{' '}}in transit.{{' '}}
                {%- if states("sensor.mail_ups_delivering")|int == 0 -%}
                    No
                  {%- else -%}
                    {{states("sensor.mail_ups_delivering")|int}}
                  {%- endif -%}
                {{' '}} 
                  {%- if states("sensor.mail_ups_delivering")|int == 1 -%}
                    UPS package is
                  {%- else -%}
                    UPS packages are
                  {%- endif -%}
                {{' '}}in transit.{{' '}}
                {%- if states("sensor.mail_amazon_packages")|int == 0 -%}
                    No
                  {%- else -%}
                    {{states("sensor.mail_amazon_packages")|int}}
                  {%- endif -%}
                {{' '}} 
                  {%- if states("sensor.mail_amazon_packages")|int == 1 -%}
                    Amazon package is
                  {%- else -%}
                    Amazon packages are
                  {%- endif -%}
                {{' '}}in transit.{{' '}}
            {%- endmacro %}
          {{deliveries_sentence()}}
# Mail Summary End of Sesnsors

# Purpleair Start of Desription Sensor
      purpleair_description:
        unique_id: 'purpleair_SENSORID_description'
        friendly_name: 'PurpleAir AQI Description'
        value_template: >
          {% if (states('sensor.e_sycamore_drive_air_quality_index_raw')|float(0)) >= 401.0 %}
            Hazardous
          {% elif (states('sensor.e_sycamore_drive_air_quality_index_raw')|float(0)) >= 301.0 %}
            Hazardous
          {% elif (states('sensor.e_sycamore_drive_air_quality_index_raw')|float(0)) >= 201.0 %}
            Very Unhealthy
          {% elif (states('sensor.e_sycamore_drive_air_quality_index_raw')|float(0)) >= 151.0 %}
            Unhealthy
          {% elif (states('sensor.e_sycamore_drive_air_quality_index_raw')|float(0)) >= 101.0 %}
            Unhealthy for Sensitive Groups
          {% elif (states('sensor.e_sycamore_drive_air_quality_index_raw')|float(0)) >= 51.0 %}
            Moderate
          {% elif (states('sensor.e_sycamore_drive_air_quality_index_raw')|float(0)) >= 0.0 %}
            Good
          {% else %}
            undefined
          {% endif %}
# Purpleair End of DesciptionSensor

# Water Softner Level Sensors
  - platform: template
    sensors:
      water_softener_percentage:
         friendly_name: "Water Softener Percentage"
         unit_of_measurement: '%'
         value_template: "{{ ((states('sensor.water_softener')|float * -4.00) + 100.00)| round (2)}}"

  - platform: template
    sensors:
      water_softener_need_filled:
        friendly_name: "Water Softener - Needs filled?"
        value_template: >-
          {% if states('sensor.water_softener_percentage')| float < 10 %}
            on
          {% else %}
            off
          {% endif %}
# Water Softner Level End of Sensors



#==================
#=== System Sensors
#==================
  - platform: systemmonitor
    resources:
      - type: last_boot
      - type: disk_use_percent
        arg: /
      - type: memory_use_percent
      - type: processor_use
      - type: processor_temperature
      - type: memory_free
      
# WeatherUnderground sensors
  - platform: wundergroundpws
    api_key: !secret wunderground_PWS_API_key
    pws_id: KAZFOUNT19
    latitude: 33.6075
    longitude: -111.7465
    numeric_precision: none
    monitored_conditions:
      - humidity
      - temp
      - dewpt
      - heatIndex
      - windChill
      - precipRate
      - precipTotal
      - pressure
      - windGust
      - windSpeed
      - weather_1d
      - weather_1n
      - weather_2d
      - weather_2n
      - weather_3d
      - weather_3n
      - weather_4d
      - weather_4n
      - weather_5d
      - weather_5n
      - winddir
      - obsTimeLocal
      - stationID
      - elev
      - today_summary
      
      - temp_high_1d
      - temp_low_1d
      - precip_1d
      - precip_chance_1d
      - wind_1d

      - temp_high_2d
      - temp_low_2d
      - precip_2d
      - precip_chance_2d
      - wind_2d

      - temp_high_3d
      - temp_low_3d
      - precip_3d
      - precip_chance_3d
      - wind_3d

      - temp_high_4d
      - temp_low_4d
      - precip_4d
      - precip_chance_4d
      - wind_4d

      - temp_high_5d
      - temp_low_5d
      - precip_5d
      - precip_chance_5d
      - wind_5d

timer:    
  garage_door:
    duration: '00:15:00'

weather:
  - platform: template
    name: WUnderground Template
    temperature_template: "{{ states('sensor.wupws_temp') | float }}"
    humidity_template: "{{ states('sensor.wupws_humidity') | float }}"
    pressure_template: "{{ states('sensor.wupws_pressure') | int }}"
    wind_speed_template: "{{ states('sensor.wupws_windspeed') | float }}"
    wind_bearing_template: "{{ states('sensor.wupws_winddir') | float }}"
    attribution_template: "{{ state_attr('sensor.wupws_temp', 'attribution') }}"
    unique_id: TrebaczPWSWeather

    condition_template: >

      {% set condition_id = state_attr('sensor.wupws_weather_1d', 'entity_picture') | regex_replace(find='/local/wupws_icons/', replace='', ignorecase=False) | regex_replace(find='.png', replace='', ignorecase=False) | int(0) %}

      {% if condition_id in [31] -%}
        clear-night
      {% elif condition_id in [26,27,28] -%}
        cloudy
      {% elif condition_id in [19,21,22] -%}
        exceptional
      {% elif condition_id in [20] -%}
        fog
      {% elif condition_id in [17,25,35] -%}
        hail
      {% elif condition_id in [47] -%}
        lightning
      {% elif condition_id in [26,27,28] -%}
        cloudy
      {% elif condition_id in [37,38] -%}
        lightning-rainy
      {% elif condition_id in [4] -%}
        Lightning/ thunderstorms and rain
      {% elif condition_id in [29,30] -%}
        partlycloudy
      {% elif condition_id in [9,11,12,39,45] -%}
        rainy
      {% elif condition_id in [5,13,14,15,16,41,42,43,46] -%}
        snowy
      {% elif condition_id in [6,7,8,10,18] -%}
        snowy-rainy
      {% elif condition_id in [32,33,34,36] -%}
        sunny
      {% elif condition_id in [0,1,2,3,23,24,40] -%}
        windy
      {% elif condition_id in [44] -%}
        Not Available (N/A)
      {%- else -%}
        unknown
      {%- endif %}


    # forecast_template: "{{ state_attr('weather.dwd_weather_muenster_zentrum', 'forecast') }}"
    forecast_template: >-
      [
        {
          {% set dat = now() + timedelta( days = 1 ) %}
          "datetime": "{{ dat.strftime("%Y-%m-%dT00:00:00Z") }}",
          "temperature": {{ states('sensor.wupws_temp_high_1d') }},
          "templow": {{ states('sensor.wupws_temp_low_1d') }},
          "precipitation": {{ states('sensor.wupws_precip_1d') }},
          "precipitation_probability": {{ states('sensor.wupws_precip_chance_1d') }},
          "wind_speed": {{ states('sensor.wupws_wind_1d') }},
          
        },
        {
          {% set dat = now() + timedelta( days = 2 ) %}
          "datetime": "{{ dat.strftime("%Y-%m-%dT00:00:00Z") }}",
          "temperature": {{ states('sensor.wupws_temp_high_2d') }},
          "templow": {{ states('sensor.wupws_temp_low_2d') }},
          "precipitation": {{ states('sensor.wupws_precip_2d') }},
          "precipitation_probability": {{ states('sensor.wupws_precip_chance_2d') }},
          "wind_speed": {{ states('sensor.wupws_wind_2d') }},
        },
        {
          {% set dat = now() + timedelta( days = 3 ) %}
          "datetime": "{{ dat.strftime("%Y-%m-%dT00:00:00Z") }}",
          "temperature": {{ states('sensor.wupws_temp_high_3d') }},
          "templow": {{ states('sensor.wupws_temp_low_3d') }},
          "precipitation": {{ states('sensor.wupws_precip_3d') }},
          "precipitation_probability": {{ states('sensor.wupws_precip_chance_3d') }},
          "wind_speed": {{ states('sensor.wupws_wind_3d') }},
        },
        {
          {% set dat = now() + timedelta( days = 4 ) %}
          "datetime": "{{ dat.strftime("%Y-%m-%dT00:00:00Z") }}",
          "temperature": {{ states('sensor.wupws_temp_high_4d') }},
          "templow": {{ states('sensor.wupws_temp_low_4d') }},
          "precipitation": {{ states('sensor.wupws_precip_4d') }},
          "precipitation_probability": {{ states('sensor.wupws_precip_chance_4d') }},
          "wind_speed": {{ states('sensor.wupws_wind_4d') }},
        },
        {
          {% set dat = now() + timedelta( days = 5 ) %}
          "datetime": "{{ dat.strftime("%Y-%m-%dT00:00:00Z") }}",
          "temperature": {{ states('sensor.wupws_temp_high_5d') }},
          "templow": {{ states('sensor.wupws_temp_low_5d') }},
          "precipitation": {{ states('sensor.wupws_precip_5d') }},
          "precipitation_probability": {{ states('sensor.wupws_precip_chance_5d') }},
          "wind_speed": {{ states('sensor.wupws_wind_5d') }},
        }
      ]
      
panel_iframe:
  # Zigbee2mqtt menu
  zigbee2mqtt:
    title: "Zigbee2mqtt"
    url: "https://zigbee2mqtt.trebacz.com/"
    icon: mdi:lan
    require_admin: true

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - !secret trusted_proxy_NGINX
  ip_ban_enabled: true
  login_attempts_threshold: 10
